<h1>Play Beautifully.</h1>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/8TXPI7Vur1Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

<h4>Street football or Joga Bonito, which translates to "play beautifully" in Portuguese, is a style of football played on the streets, parks or any open space using improvised goal posts and a ball. The type of turf required to play this game should be made of a durable and non-slip material that can withstand constant foot traffic and weather elements.

The ideal turf for playing street football should have a grassy surface that is uniform in height, has good traction and is relatively soft to cushion falls and prevent injuries. Synthetic grass or astroturf, is a popular option for street football as it provides excellent durability, low maintenance and a realistic playing experience similar to natural grass.

However, if you prefer natural grass, ensure that the grass is of good quality, even and free of any bumps or holes that may cause injuries. It is also essential to water and maintain the grass regularly to avoid creating muddy areas that can interfere with the gameplay.

Overall, the type of turf for playing street football may vary depending on individual preferences and availability in different areas. However, it is crucial to choose a surface that supports fluid movement, allows for quick turns and maneuvers and ensures the safety of players.

Craque is a term used in Brazilian football to describe a player who is exceptionally gifted, technically skilled, and charismatic. It denotes a player who can create magic on the field, dazzle the opponents, and win the hearts of the fans. Craque is seen as the highest accolade that a Brazilian footballer can achieve, indicating a combination of talent, vision, and personality.

Both Joga Bonito and Craque are important concepts in the world of football because they represent the ideals and values that define the sport. Joga Bonito emphasizes the importance of skill, creativity, and fair play, while Craque celebrates the individual talent, flair, and charisma of the best players. These concepts inspire football players to strive for excellence and entertain the fans, while also promoting the sport's positive image as a source of joy and excitement.</h4>