<h1>All Players</h1>

<% @players.each do |player| %>
<%= image_tag player.image, :class => 'feature' if player.image.present? %>
<ul>
<li>Name: <%= link_to player.name, player %></li>
<li>Nationality: <%= player.nationality %></li>
<% unless player.skillmove.nil? %>
<li>Skillmove: <%= player.skillmove %></li>
<% end %>
</ul>
<% end %>